form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s; /* Ajoutez une transition pour une animation fluide de la couleur */
}


input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}
.combo{
    display: block;
}


