.imageList {
  height: 100px;
  width: 100px;
}



.monHeader nav {
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.monHeader nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: x-large;
}

.monHeader nav a:hover {
  text-decoration: underline;
}
